/* styles.css */

.home-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('../../assets/welcome.jpg'); /* URL לתמונת הרקע */
  background-size: contain;
  background-position: center;
  background-attachment: fixed; /* מאפשר לתמונה להישאר במקום על גבי המסך בעת גלילת העמוד */
  height: 100vh;
}

